@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    height: 100vh;
    width: 100wh;   
    margin:0;
}
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}

#preloader{
    background: #000 url(pl3.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.navbar-links ul li img{
    padding:0;
    margin-top: -6px;
}
.hero{
    color: rgb(255, 255, 255);
    background-color: black;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.brandl{
    height: 20px;
    width: 20px;
}
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;    
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}
/* .navbar-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bolder;
    padding-right: 40px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
} */

 .navbar-links li a:hover{
     box-shadow: 0 5px 50px 0 #ffffff inset,0 5px 50px 0 #ffffff,
                0 5px 50px 0 #ffffff inset,0 5px 50px 0 #ffffff ;
    text-shadow: 0 5px 50px 0 #ffffff, 0 5px 50px 0 #ffffff  ; 
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: black;
    padding: 1rem;
    margin: 0.4rem;
    /* padding: 1rem; */
    /* color: black;
    border: 1px;
    border-radius: 15px;} */}

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    
    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
.container {
    width: 100%;
    height: 100%; 
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;  
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

section:nth-child(1){
    justify-content: center;
    align-items: center;
    background-color:black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
section:nth-child(1) img{
   height: 50%;
   width: 50%;
}
section:nth-child(2 ){
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    font-size: 35px; 
    font-family: Arial, Helvetica, sans-serif;
}

section:nth-child(2 ) h1 p{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


section:nth-child(3){
    background-image: url(pexels-brett-sayles-3114462.jpg);
	min-height: 100vh;
    padding: 100px 15px;
    overflow:auto;
}

section:nth-child(3) button{
    background-color: #000;
    color: #ffffff;
    border-radius: 5px;
    border: #ffffff 1px;
    padding: 4px;
    border-style: solid;
}

section:nth-child(3) button:hover{
    background-color: rgb(255, 251, 251);
    color: #000000;
    border-radius: 5px;
    border: #ffffff 2px;
    padding: 4px;
    border-style: solid;}

.timeline-items h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 1000;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
} 

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

/* .timeline-content{
    background-color: #f7f7f2;
	padding: 30px;
	border-radius: 12px;
} */
.timeline-content{
    box-shadow: #ffffff;
    /* text-shadow: 0 5px 50px 0 #ffffff, 0 5px 50px 0 #ffffff  ; */
    background-color: rgba(255, 255, 255,0.15);
    padding: 5px;
    color: rgb(2, 0, 0);
}

.timeline-content h3{
    font-size: 20px;
	color: #f8efef;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 800;
}

.timeline-content p{
    color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #ffffff;
	left: calc(50% - 1px);
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #ffffff;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 80%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #ffffff;
	margin:6px 0 15px;
}
@media(max-width: 689px){
    /* nav{
        display: block;
    }
    nav ul{
        flex-direction: column;
    } */
    /* nav ul{
        position: fixed;
        top: 40px;
        left: 0px;
        height: 100vh;
        width: 100%;
        background-color: #000;
        display: block;
    }  */
    .timeline-items::before{
		left: 7px;
        right: 20px;
	}
    
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
    .timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
    .timeline-dot{
		left:0;
	}
    .timeline-item{
        width: 85%;
    }
    .timeline-section h1{
        color: #ffffff;
        font-size: 50px;
        font-weight: 1000;
        padding-left: 30px;
    }
    
    section:nth-child(1) img{
        height: 80%;
        width: 80%;
        border: none;
     }
     section:nth-child(1){
        width: 100%;
        height: 100%;
     }

     /* .navbar-links li a:hover{
display: none;} */
     /* .navbar-links ul {
        flex-direction: column;
        align-items: center; */
    
    /* nav ul {
        width: 100%;
        flex-direction: column;
    } */
    /* .toggle-button {
        display: flex;
    }  */
/*
     .toggle-button {
        display: flex;
    } 

    nav {
        display: none;
        width: 100%;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    nav.active {
        display: flex;
    } */
	/* section:nth-child(1){
        justify-content: center;
        align-items: center;
        background-color:black;
        color: rgb(255, 255, 255);
        font-size:10px;
        border: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;} */
        /* #preloader{
            background: #000 url(pl3.gif) no-repeat center center;
            background-size: 30%;
            height: 1000px;
            width: auto;
            position: fixed;
            z-index: 100;
        } */
        #preloader{
            background: #000 url(pl3.gif) no-repeat center center;
            background-size: 50%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
}
